<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model | Train | Training Analysis</title>
    <link rel="stylesheet" href="{{url_for('stylesheet', path='/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('stylesheet', path='/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('stylesheet', path='/styles.css')}}">
    <script type="text/javascript" src="{{url_for('js', path='/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js', path='/index.js')}}"></script>
    <style>
        .thick {
            font-weight: bold;
        }
        .btn-success{
            background-color:#28a745 !important;
            border-color: #28a745 !important;
        }
    </style>
</head>
<body>
    <div class="d-col" id="r-app">
        <div class="nav">
            <div class="logo p-2 text-xl">&#9776;</div>
            <a href="/">
                <div class="p-2 text-xl">Training Analysis</div>
            </a>
        </div>
        <div class="sidebar hidden"></div>
        <div class="content container-fluid" id="main">
            <div class="">
                <h2>Model {{model}}</h2>
            </div>

            <h3>Report</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Class</th>
                        <th>Precision</th>
                        <th>Recall</th>
                        <th>F1 score</th>
                        <th>Support</th>
                    </thead>
                    <tbody>
                        {% for row in report %}
                            <tr>
                                {% if(row != 'accuracy') %}
                                    <td>{{row}}</td>
                                    <td>{{report[row]['precision']}}</td>
                                    <td>{{report[row]['recall']}}</td>
                                    <td>{{report[row]['f1-score']}}</td>
                                    <td>{{report[row]['support']}}</td>
                                {% else %}
                                    <td>{{row}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{report[row]}}</td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h3>Save model</h3>
            <div class="row model_save">
                <div class="col-md-4" id="ser">
                    <button type="button" class="btn btn-primary" id="model_save">
                        <i class="fa fa-save"></i>
                        Save model
                    </button>
                </div>
            </div>
        </div>

    </div><br>
    <br><br>
    <script>
        $('#download').hide();
        let parent_ = getElement('#main');
        getElement('#model_save').addEventListener('click', (e)=> {
            network.xhr_request({
                method:"POST",
                url:"/train/savemodel",
                data:''
            }, (resp, err)=> {
                let response = JSON.parse(resp), link = `${response.link.split('.')[1]}`;

                notification(parent_, "Saved model", 3000, "success");
                $('#model_save').hide();
                var dbtn = addElement('a', getElement('#ser'), {
                    "class":"btn btn-success",
                    "href":link,
                    "download":"download",
                    "id":"download"
                });

                dbtn.innerHTML = `<i class="fa fa-download"></i> Download model`;
            })
        });
    </script>
</body>
</html>